body{
    background-color:  #87CEEB ;
}
header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}
header h3{
    color:black;
}
#skills, #experience, #projects, #resume, #contact {
    padding: 20px;
}
.project-item img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}